fieldset.container {
    max-width:75%;
    margin-left:auto;
    margin-right:auto;
}

body {
    background-image: url("../images_applicant_portal/smic_cover2.png");
    background-repeat: no-repeat;
    /* background-size:cover; */
    height:100%;
    background-position: top;
}

fieldset.container {
    max-height:500px;
    overflow-y: auto;
}
fieldset.container_invisible {
    background-color:RGBA(0,0,0,0);
}

/* width */
fieldset.container::-webkit-scrollbar {
    width: 20px;
}

/* Track */
fieldset.container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
/* Handle */
fieldset.container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
fieldset.container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* width */
div#xhr_menu::-webkit-scrollbar {
    width: 10px;
}

/* Track */
div#xhr_menu::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
/* Handle */
div#xhr_menu::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 10px;
}

/* Handle on hover */
div#xhr_menu::-webkit-scrollbar-thumb:hover {
    background: #555;
}
